#todos os arquivos . são ignorados (ex .vscode)
.*
!.gitignore

#todos os arquivos executáveis compilados não devem ir para o repositório
build/

#pycache deve ser local
__pycache__

#virtual environments também são locais
venv

#arquivos de áudio de teste devem ser locais
*.mp3
*.wav

#modelos de treino não demoram o suficiente para serem treinados a ponto de
#precisarem ser compartilhados, deixa a tree <bem> mais limpa
training
model-last
model-best

#arquivos relacionados ao treinamento do spacy também podem ser ignorados
*.spacy
project.lock
db.json

#arquivos do esp-idf de configuração
sdkconfig*
