SpeechRecognition
gTTs
playsound
pyaudio
unidecode
opencv-python
nltk
spacy
pandas
srsly
seaborn
spacy_langdetect
pydub
sounddevice
soundfile
streamlit
spacy_streamlit
flask
numpy
sounddevice
python_speech_features
soundfile
